body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

#fechaActual {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.day {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #5a6268;
}

.day h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffdd57; /* Color destacado para el título */
}

.day p {
    margin: 5px 0;
    font-size: 1em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2em;
    }

    #fechaActual {
        font-size: 1em;
    }

    button {
        width: 100%;
    }
}